button {
  margin: 2em auto;
  display: block;
  border: 6px solid rgba(255,255,255,0.45);
  font-size: 16px;
  border-radius: 50px;
  padding: 1em 2.5em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: relative;
  color: #FFF;
}
.title {
  font-size: 32px;
  font-weight: bold;
}
.content {
  color: white;
  margin-left: 30px;
  line-height: 2;
}
.innerText {
  font-size: 20px;
}
.section {
  background-color: #333333;
  /* margin-top: 20px; */
  margin-bottom: 20px;
  padding: 10px;
}
.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}