.main_theme_button {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 1em ;
  position: relative;
  color: #FFF;
  background-color: #333333;
  border: 0;
}
.main_theme_button:hover{
  background-color: gray;
}
.title {
  font-size: 32px;
  font-weight: bold;
}
.content {
  color: white;
  margin-left: 30px;
  line-height: 2;
}
.innerText {
  font-size: 20px;
}
.section {
  background-color: #333333;
  margin-bottom: 20px;
  padding: 10px;
}
.icon {
  width: 40px;
  height: 40px;
  margin: 5px;
}